---
---

@import "{{ site.theme }}";

.image {
  align: left;
  height: 150px;
  width: 150px;
}

header a.button {
  top: 60px;
  position: relative;
  background: none
}

header {
  padding-top: 0px;
  padding-bottom: 0px;
}

.innerheader {
  position: relative;
  height: 150px;
  width: 1000px;
  margin: 0 auto;
}

.inner {
  width: 1000px;
}

hr.section {
    border: 0;
    height: 3px;
    background-image: linear-gradient(to right, rgba(51, 123, 205, 0),
                                      rgba(51, 123, 205, 0.7), rgba(51, 123, 205, 0));
}

hr.blogpost {
    border: 0;
    height: 3px;
    margin-bottom: 35px;
    margin-top: 35px;
    background-image: linear-gradient(to right, rgba(51, 123, 205, 0.7),
                                      rgba(51, 123, 205, 0.3), rgba(51, 123, 205, 0));
}

h1.blue {
    color: #337bcd;
}
