---
---

@import "{{ site.theme }}";

header a.button {
  position: relative;
  background: none
}

.innerheader {
  position: relative;
  text-align: right;
  width: 1000px;
  margin: 0 auto;
}

.inner {
  width: 1000px;
}